BasedOnStyle: Microsoft
Standard: c++17
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllConstructorInitializersOnNextLine: true
SortIncludes: false
MaxEmptyLinesToKeep: 2
ColumnLimit: 80